MAIN_CITIZENSHIP=Russian Federation
NUMBER_OF_PEOPLE=two people | one person
LIVE_WITH=yes | no
PARTNER_CITIZENSHIP=Russian Federation
CATEGORY=apply | extend | apply_permanent
REASON=economic | family | empty
PURPOSE= 18p2 | 21p5 | sect28 | 28p2 | 19c2 | transfer_blue_card_eu | transfer_permanent_settlement_permit | transfer_eu_long_term_residence_permit | transfer_residence_card | transfer_permanent_residence_card | transfer_residence_document_gb | transfer_residence_permit
TELEGRAM_TOKEN=
TELEGRAM_CHATID=
